.banner{
    width:100%;
}
h1{
    align-content: center;
}
.Missao{
    font-size: 20px;
    text-align: center;
}
.Missao strong
 {
    color: red;
}

body{
    text-align: center;
    background: #CCCCCC;
}
p{
    align-items: center;
}
.list-gain{
    list-style: none;
    /* background-color: white; */
}
.item-list{
    font-style: italic;
}