header{
    background: #BBBBBB;
    /* display: inline; */
   padding: 20px 150px;
   display:flex;
   align-items: center;
   justify-content: space-between;

}
.nav-produto li {
    display: inline;
    margin: 0 0 0 15px;
}

.nav-produto a{
    text-transform: uppercase; /*Deixar as coisas em maisculo */
    color: #000000;
    font-weight: bold;
    font-size:22px;
    text-decoration: none;
}
.nav-produto a:hover{
    cursor: pointer;
    color: #704e4e;   
    text-decoration: underline;
}
.products{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.products > li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    /* background: #cccccc; */
    padding: 30px 20px; 
    box-sizing: border-box;
    border: solid 1px #000000;
    border-radius: 13px;

}
.products > li:hover {
    border: solid 4px  #704e4e;  
    cursor: pointer;
}
.products > li:active{
    border: solid 4px  #e76a6a;  
}
.products > li > h2{
    font-size: 30px;
    font-weight: bold;
}
/* .card{
    border: solid 3px #000000;
} */
.description{
    font-size: 18px;
}
.price{
    font-size:22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    background-image: url(/img/bg.jpg);
    text-align: center;
    padding: 40px 0 ;
}
footer > p {
    color: white;
    font-size: 13px;
    margin-top:20px;
}