.banner{
    width:100%;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header > nav  li {
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    
}
header > nav li>a{
    color: #000000;
    text-decoration: none;
    
}
header > nav li>a:hover{
    cursor: pointer;
    color: #704e4e;   
    text-decoration: underline;
    font-size: 18px;
}
.title-main{
    padding: 20px;
}
.Missao{
    font-size: 20px;
    text-align: center;
}
.Missao strong
 {
    color: red;
}

p{
    align-items: center;
}
.list-gain{
    /* list-style: none; */
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    /* background-color: white; */
}
.item-list{
    font-style: italic;
}
.bloco-um{
    background: #CCCCCC;
    padding: 30px;
    /* text-align: center; */

}
.title-center{
    text-align: center;
}
.bloco-dois{
    background: white;
    padding: 20px;
}
#beneficiosIMG{
width: 50%;
}
footer{
    text-align: center;
    padding: 20px;
}

footer{
    color: black;
    font-weight: bold;
    background: #CCCCCC;
}
.mapa p {
    text-align: center;
}
.mapa{
    width:900px;
}
.mapa iframe {
    display: flex;
    justify-content: center;
}